# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.exe
*.exe~
*.patch
*.tmp
*debug.test

# project
*.cert
*.key
.test

_output

# Ignore Gradle project-specific cache directory

# Ignore Gradle build output directory
build
